header
{
	width: 100%;
	height: 40px;
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #191919 74%);
	color: #999999;
}

.hon{
	background-color: #aff6cf;
background-image: linear-gradient(315deg, #9f98e8 0%, #aff6cf 74%);
}

a:hover
{
	color: #C1C1C1;
	text-decoration: none;
}

.icon-size
{
	font-size: 20px;
}

.icon-size1
{
	font-size: 30px;
}

.fantasy
{
	font-family: fantasy;
}

.card-title
{
	margin-top: 160px;
}

.rmt
{
	margin-top: 135px;
}

.card-img-overlay
{
	margin: 30px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
}

.news .card-img-overlay
{
	margin: 30px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.15);
}


.card-img
{
	border-radius: 10px;
	height: 243px;
}

.card
{ 
	padding: 30px;
	background: transparent;
	border: none;
	color: #f3f3f3 !important;
}

body
{
	height: auto;
	background-image: url("../images/topbg.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

a
{
	color: inherit;
	text-decoration: none;
}

.giveaway
{
	height: 150px;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.giveaway img
{
	margin-top: 25px;
	height: 100px;
	width: auto;
}

.gs
{
	background-color: #89d8d3 !important;
	background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%) !important;
}

.gp input
{
	margin-top: 20px;
	background: #f3f3f3;
	border: solid 2px #03c8a8;
	border-radius: 4px;
}

.gm
{
	margin-top: 0 !important;
	height: 160px !important;
	width: auto !important;
}

.navbar
{
	border-radius: 6px;
	padding: 5px;
}

.info
{
	margin-top: 370px;
	color: #ADEAEA;
	margin-left: 10%;
}

.banner
{
	margin-top: 300px;
	height: auto;
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
	color: #efefef;
}

.na
{
	font-size: 15px;
}

.ni
{
	width: 360px;
	background-color: #f3f3f3;
	border: solid 1px white;
}

.ns
{
	width: 100px;
	font-size: 15px;
}

.newsletter img
{
	width: 225px;
	height: 100px;
}

.newsletter .col-6
{
	padding: 0;
}

.newsletter p
{
	margin-bottom: 0;
}

.newsletter
{
	height: 100px;
	background-color: #fefefe;
	background-image: linear-gradient(315deg, #fefefe 0%, #0ecfd8 74%);
}

h3
{
	margin-bottom: 0px;
}

.banner-img
{
	padding-left: 140px;
	padding-right: 0;
}

.news
{
	background-color: #f3f3f3;
}

.featured
{
	background-color: #e4eee9;
background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
}

.com-lg-4
{
	padding: 0;
}

.row
{
	margin: 0;
}

.col-md-12
{
	padding: 0;
}

footer
{
	height: auto;
	background-color: #5ca0f2;
	background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
}

@media only screen and (max-width: 768px)
 {
 	body
 	{
 		background-size: fill;
 	}

 	.banner{
 		margin-top: 50px;
 	}

 	.card
 	{
 		padding: 30px 120px;
 	}

 	.news img
 	{
 		padding: 0px 40px;
 	}

 	.card-img-overlay
 	{
 		margin: 30px 120px !important;
 	}

 	.news div a .card-img-overlay
 	{
 		margin: 20px 150px !important;
 		background-color: rgba(0, 0, 0, 0.3) !important;
 	}

 	.news div a .card-img-overlay .card-title
 	{
 		margin-top: 170px;
 	}

	.banner-img
	{
		padding: 0;
	}

	.banner-img a img
	{
		height: 40px;
		width: 120px;
		margin-top: 25px;
		margin-left: 10px;
	}

	.newsletter
	{
		height: auto;
	}

	.newsletter img
	{
		width: 100%;
		height: auto;
	}

	.newsletter .col-7
	{
		padding-left: 5px;
	}

	.newsletter .col-5
	{
		padding-left: 23px;
	}

	.na
	{
		padding-left: 10px;
		font-size: 13px;
		margin-bottom: 10px;
	}

	.newsletter .ni
	{
		width: 220px;
	}

	.giveaway
	{
		height: auto;
	}

	.gi
	{
		margin-top: 15px;
	}

	.gf
	{
		margin-top: 10px;
	}

	.gf h3
	{
		display: none;
	}

	.navbar
	{
		width: 100%;
		border-radius: 10px;
	}

	.navbar-toggler
	{
		margin-right: 10px;
	}

	.info
	{
		margin-left: 10px;
		margin-top: 310px;
	}
}